# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ IDE folders
.idea/*
.settings/*
bin/
.classpath
.project
.DS_Store
local.properties
.ucls

*.ucls
